- parameters = [ "astronomic_degrees", "astronomic_minutes", "astrologic_degrees", "astrologic_minutes", "sign", "latitude_degrees", "latitude_minutes", "n_s" ]
mixin row(name)
    tr
        td
            .in=name
        each param in parameters
            td
                .in(id=param+"_"+name)


datalist#epochs
    option(value="ALFONSO")
    option(value="CHRIST")
    option(value="NABONASSAR")

datalist#precessions
    option(value="PTOLEMY")
    option(value="TREPIDATION")
    option(value="TRUE")

- bodies = [ "sun", "moon", "mercury", "venus", "mars", "jupiter", "saturn" ]
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title="Alfonsine"
        link(rel="canonical" href="https://pseusys.github.io/alfonsine")
    body
        form#inp
            table
                tr
                    th
                        .in Date and Time
                    th
                        .in Difference with Toledo
                    th
                        .in Eastern than Toledo?
                    th
                        .in Accuracy
                    th
                        .in Epoch
                    th
                        .in Precession
                tr
                    td
                        input#date(type="datetime-local" required=true)
                    td
                        input#diff(type="time" required=true)
                    td
                        input#east(type="checkbox")
                    td
                        input#acc(type="number" min="1" max="10" required=true)
                    td
                        input#epoch(list="epochs" required=true)
                    td
                        input#prec(list="precessions" required=true)
            button#calc(type="button") Make calculations!

        table
            tr
                th
                    .in #
                th(colspan="2")
                    .in Astronomic
                th(colspan="2")
                    .in Astrologic
                th
                    .in Sign
                th(colspan="2")
                    .in Latitude
                th
                    .in N/S
            for body in bodies
                +row(body)
